body {
    font-family: Arial, sans-serif;
    background-color: rgb(41, 61, 45);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.cartao {
    background-color: rgb(21, 70, 31);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    max-width: 300px;
}

.cartao img {
    width: 100%;
    border-radius: 10px;
}

.botao {
    display: inline-block;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
}